<header>

</header>
<main>
    <h1 class="title">新規投稿</h1>
    <div class="box">

        <!-- form_for部分 -->
        <%= form_with model: @inventory,:url => {:action => :create} do |f| %>
        <div class="t-ble">
            <table>
                <tr>
                    <th>項目</th>
                    <td><%= f.text_field :item %></td>
                </tr>
                <tr>
                    <th>在庫数</th>
                    <td><%= f.number_field :stock %> / <%= f.number_field :required %></td>
                </tr>
                <tr>
                    <th>保存場所</th>
                    <td><%= f.select :space, 
                    [["トイレ", "トイレ"], ["キッチン", "キッチン"],
                    ["浴室", "浴室"], ["リビング", "リビング"]],
                include_blank: "選択して下さい" %></td>
                    <%# # 以下の一行がプルダウンを実装するためのコード（追記部分） %>
                    <%# <%= f.select :保存先のカラム名,
                [["選択肢１", "実際にDBに保存させる内容"], ["選択肢２", "実際にDBに保存させる内容"]],
                include_blank: "選択して下さい" %>
                </tr>

                <tr>
                    <th>備考欄</th>
                    <td><%= f.text_area :note %></td>
                </tr>
            </table>
        </div>
        <%# <div class="new-box"> %>
        <%= f.submit '追加', :class=>"new-box" %>
        <%# </div> %>
        <% end %>
        <div class="return-box">
            <%= link_to 'topへ戻る', '/inventorys' %>
        </div>


</main>
<%# <footer id="footer">
    footer
</footer> %>